{{yield}}
<form>
  <br/>
  <p class = "col-xs-10">
      {{input type="hidden" class="form-control" value=question.id}}
    <span class = "col-xs-2">
      {{input type="text" class="form-control" value=question.question}}
    </span>
    <span class = "col-xs-2">
      {{input type="text" class="form-control" value=question.correctAnswer}}
    </span>
    <span class = "col-xs-8">
      {{#each question.choices as |uc|}}
      <span class = "col-xs-3">
        {{input type="text" class="form-control" value=uc}}
      </span>
      {{/each}}
    </span>
  </p>
  <p class="col-xs-2">
      <submit {{action 'buttonLogin'}} class="btn btn-primary">Update</submit>
    <br/>
  </p>


 {{#each model.questions as |question|}}
    <p class = "col-xs-10">
        {{input type="hidden" class="form-control" value=question.id}}
      <span class = "col-xs-2">
        {{input type="text" class="form-control" value=question.question tooltip="sandeep"}}
      </span>
      <span class = "col-xs-2">
        {{input type="text" class="form-control" value=question.correctAnswer}}
      </span>
      <span class = "col-xs-8">
        {{#each question.choices as |uc|}}
        <span class = "col-xs-3">
          {{input type="text" class="form-control" value=uc}}
        </span>
        {{/each}}
      </span>
    </p>
    <p class="col-xs-2">
      <span>
        <submit {{action 'updateQuestion' question}} class="btn btn-primary">Update</submit>
      </span>
      <br/>
    </p>
  {{/each}}

</form>
