{{yield}}
<form>
  <br/>
  <p class = "col-xs-10">
    <p class = "col-xs-2">
      <label>Question</label>
    </p>
    <p class = "col-xs-2">
      <label>Correct Answer</label>
    </p>
    <p class = "col-xs-8">
      <p class = "col-xs-3">
        <label>Option 1</label>
      </p>
      <p class = "col-xs-3">
        <label>Option 2</label>
      </p>
      <p class = "col-xs-3">
        <label>Option 3</label>
      </p>
      <p class = "col-xs-3">
        <label>Option 4</label>
      </p>
    </p>
  </p>
  <p class = "col-xs-10">
      {{input type="hidden" class="form-control" value=question.id}}
    <p class = "col-xs-2">
      {{input type="text" class="form-control" value=question.question}}
    </p>
    <p class = "col-xs-2">
      {{input type="text" class="form-control" value=question.correctAnswer}}
    </p>
    <p class = "col-xs-8">
      <p class = "col-xs-3">
        {{input type="text" class="form-control" value=uc}}
      </p>
      <p class = "col-xs-3">
        {{input type="text" class="form-control" value=uc}}
      </p>
      <p class = "col-xs-3">
        {{input type="text" class="form-control" value=uc}}
      </p>
      <p class = "col-xs-3">
        {{input type="text" class="form-control" value=uc}}
      </p>
    </p>
  </p>
  <p class="col-xs-2">
      <submit {{action 'buttonLogin'}} class="btn btn-success btn-md btn-block">Add</submit>
    <br/>
  </p>


 {{#each model.questions as |question|}}
 <div id='{{question.id}}'>
 {{input type="hidden" class="form-control" value=question.id}}
    <p class = "col-xs-10" id='{{question.id}}'>
      <p class = "col-xs-2">
        {{input type="text" class="form-control" value=question.question}}
      </p>
      <p class = "col-xs-2">
        {{input type="text" class="form-control" value=question.correctAnswer}}
      </p>
      <p class = "col-xs-8">
        {{#each question.choices as |uc|}}
        <p class = "col-xs-3">
          {{input type="text" class="form-control" value=uc}}
        </p>
        {{/each}}
      </p>
    </p>
    <p class="col-xs-2">
      <p class="col-xs-6">
        <submit {{action 'updateQuestion' question}} class="btn btn-warning ">Update</submit>
      </p>
      <p class="col-xs-6">
        <submit {{action 'deleteQuestion' question}} class="btn btn-danger ">Delete</submit>
      </p>
    </p>
  </div>
  {{/each}}

</form>
